header{
	width:100%;
	height: 50px;
	background-color: black;
	position: relative;
}
header h1{
	position: relative;
	margin: 0px;
	padding: 7px;
	font-size: 30px;
	color: white;
	float: left;
}
header nav ul{
	float: right;
	color: white;
}
header nav ul li{
	display: inline-block;
	list-style: none;
	padding-left: 10px;
}
header nav ul li a, header nav ul li a:visited{
	text-decoration: none;
	color: white;
}
header nav ul li a:hover{
	color: grey;
}
hr.card-bar{
	width: 100%;
	header: 10px;
	background-color: grey;
	z-index: 1;
	position: absolute;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.board-game-container{
	width: 700px;
	overflow: auto;
	margin: 50px auto;
}
.card-container{
	width: 100px;
	height: 150px;
	background-color: black;
	float: left;
	margin: 0 20px 20px 20px;
}
.card-img-shell{
	width: 80%;
	height: 80%;
	overflow: hidden;
	top: 10%;
	left: 10%;
	margin: 0;
	position: relative;
}
.card-container img{
	height:100%; 
	left: -20px;
	position: relative;
}
