<div class="board-game-container">
	<% @my_friends.each do |friend| %>
		<div class="card-container">
			<div class="card-img-shell">
				<img src="<%= friend.img_url %>">
			</div>
		</div>
	<% end %>
	<div class="chat-container">
		<div class="chat-logger-shell">
			<p><span class="user">Jordan:</span>This game is seriously stupid. like seriously.</p>
		</div>
		<textarea placeholder="Enter your chats here.."></textarea>
	</div>
</div>
